@{
    ViewData["Title"] = "Home Page New Version 1.0.0.2.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://azure.microsoft.com/services/devops/">Azure DevOps</a>.</p>
</div>git 